/* Below 1800 PX  */
@media (max-width: 112.5em) {
  .sidebar {
    padding: 2rem 1rem 2rem 1rem !important;
  }
  .workout-reset {
    top: 9rem !important;
    margin-right: 10% !important;
  }
}
/* Below 1500 PX  */
@media (max-width: 93.75em) {
  .workout {
    padding: 0.5rem 1.25rem !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .weatherIcon {
    top: 10% !important;
  }
  .sidebar {
    flex-basis: 50rem !important;
  }
}
/* Below 1250 PX  */
@media (max-width: 78.125em) {
  html {
    font-size: 50% !important;
  }
}
/* Below 950 PX  */
@media (max-width: 59.375em) {
  html {
    font-size: 45% !important;
  }
  body {
    padding: 0% !important;
  }
}
/* Below 750 PX  */
@media (max-width: 46.875em) {
  .sidebar {
    height: 100%;
  }
  .workouts {
    width: 100%;
    margin-left: 5rem;
  }
  .workout {
    width: 100%;
    margin-left: 5rem;
    width: 85%;
  }
  .form {
    width: 100%;
    margin-left: 0.1rem;
    margin-right: 10rem;
  }
  .form__btn {
    margin-left: -5%;
  }
  .logo {
    margin-right: 16rem;
  }

  .workout-reset {
    margin-left: -60.5px;
  }

  /* Below 550 PX  */
  @media (max-width: 34.375em) {
    body {
      flex-direction: column;
      height: 180vh !important;
    }
  }
}
